{
    "extends": "standard",
    "rules": {
        "indent": [
            "error",
            4
        ],
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "one-var": 0,
        "no-undef": 0,
        "eqeqeq": 0,
        "no-mixed-operators": 0,
        "camelcase": 0,
        "no-return-assign": 0
    }
}